aiomqtt
bcrypt
black
isort
geopy
lapx
matplotlib
networkx
numpy
onnx
onnxruntime-gpu
opencv-python-headless
Pillow
pyYAML
pytest
pytest-cov
pydantic
pydantic-settings
ray[tune]
rasterio
requests
scikit-image
scipy
setuptools
shapely
sqlalchemy
streamlit
tqdm
ultralytics
wandb
websockets
websocket-client