aiomqtt==2.5.1
azure-storage-blob==12.28.0
bcrypt==5.0.0
boto3==1.43.6
geopy==2.4.1
lapx==0.9.4
matplotlib==3.10.9
numpy==2.2.4
onnx==1.21.0
onnxruntime-gpu==1.23.0
opencv-python-headless==4.13.0.92
Pillow==12.2.0
psycopg2-binary==2.9.12
pydantic==2.13.4
pydantic-settings==2.14.1
pyYAML==6.0.3
rasterio==1.4.0
requests==2.34.0
scikit-image==0.25.0
scipy==1.15.0
shapely==2.1.2
sqlalchemy==2.0.49
tqdm==4.67.3
ultralytics==8.4.50
websocket-client==1.9.0
websockets==16.0
