aiomqtt==2.5.0
bcrypt==5.0.0
geopy==2.4.1
lapx==0.9.4
matplotlib==3.10.8
networkx==3.5
numpy==2.3.3
onnx==1.20.1
onnxruntime-gpu==1.23.2
opencv-python-headless==4.13.0.90
Pillow==11.3.0
pyYAML==6.0.3
python-dotenv==1.2.1
psycopg2-binary==2.9.11
rasterio==1.4.4
requests==2.32.4
scikit-image==0.26.0
scipy==1.17.0
shapely==2.1.2
sqlalchemy==2.0.46
tqdm==4.67.1
ultralytics==8.4.7
websockets==16.0
websocket-client==1.9.0